.parent{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 60%;
    height: 90%;
    background-color: rgb(236, 201, 158);
    border-radius: 5px;

    
}
input{
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 10px;
}

.btn{
    margin-left: 200px;
    width: 200px;
}