<form action="" [formGroup]="idcardForm"><br>

    <h1>{{id? 'Edit idcard' : 'Create idcard'}}</h1> 


    <input type="text" placeholder="name" formControlName="name"><br><br>

    <input type="text" placeholder="phone" formControlName="phone"><br><br>

    <input type="text" placeholder="city" formControlName="city"><br><br>

    <input type="text" placeholder="profile" formControlName="profile_picture"><br><br>

    <input type="text" placeholder="email" formControlName="email"><br><br>

    <input type="text" placeholder="DOB" formControlName="dob"><br><br>

    <!-- <input type="text" placeholder="id" formControlName="id"><br><br> -->


    <button class="btn btn-primary" (click)="submit()">submit</button>

   
</form>