h1 {
  color: black;
  
  font-size: 24px;
}

input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #007bff;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease-in-out;
}

input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}
