<form action="" [formGroup]="vehicleForm"><br>

    <input type="text" placeholder="vechiclename" formControlName="Vehicle"><br><br>

    <input type="text" placeholder="manufacturer" formControlName="manufacturer"><br><br>

    <input type="text" placeholder="model" formControlName="model"><br><br>

    <input type="text" placeholder="type" formControlName="type"><br><br>

    <input type="text" placeholder="fuel" formControlName="fuel"><br><br>

    <input type="text" placeholder="color" formControlName="color"><br><br>

    <input type="text" placeholder="image" formControlName="image"><br><br>

    <input type="text" placeholder="cost" formControlName="cost"><br><br>

    <button class="btn btn-primary" (click)="create()">submit</button>

   
</form>