<form action="" [formGroup]="vehicleForm"><br>

    <!-- <h1>Create Vehicle</h1>  -->

    <!-- method 1 -->

    <h1>{{id? 'Edit Vehicle' : 'Create vehicle'}}</h1> 

            <!-- <h1 *ngIf="id">Edit Vehicle</h1>
                <h1 *ngIf="!id">Create vehicle</h1>            method 2 -->

    <input type="text" placeholder="vechiclename" formControlName="Vehicle"><br><br>

    <input type="text" placeholder="manufacturer" formControlName="manufacturer"><br><br>

    <input type="text" placeholder="model" formControlName="model"><br><br>

    <input type="text" placeholder="type" formControlName="type"><br><br>

    <input type="text" placeholder="fuel" formControlName="fuel"><br><br>

    <input type="text" placeholder="color" formControlName="color"><br><br>

    <input type="text" placeholder="image" formControlName="image"><br><br>

    <input type="text" placeholder="cost" formControlName="cost"><br><br>

    <button class="btn btn-primary" (click)="submit()">submit</button>

   
</form>