<h1>Accounts</h1>

<input type="text" [(ngModel)]="sai" (keyup)="filter()">
<!-- ------------------------------------------------------------------------- -->

<select [(ngModel)]="column">
    <option>account_name</option>
    <option>available_balance</option>
    <option>account_number</option>
    <option>city</option>
    <option>profie_picture</option>
    <option>id</option>
</select>

<select [(ngModel)]="order" >
    <option >asc</option>
    <option >dese</option>
</select>

<button class="btn btn-primary" (click)="sort()">sort</button>

<!-- ------------------------------------------------------------------------- -->


<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
    <option>50</option>
</select>

<select [(ngModel)]="page" >
    <option >1</option>
    <option >2</option>
</select>

<button class="btn btn-primary" (click)="pegination()">Pagination</button>


<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>account_name</th>
            <th>available_balance</th>
            <th>account_number</th>
            <th>city</th>
            <th>profie_picture</th>
            <th>id</th>
            <th>Acctions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accounts of accounts">
            <td >{{accounts.account_name}}</td>
            <td>{{accounts.available_balance}}</td>
            <td>{{accounts.account_number}}</td>
            <td>{{accounts.city}}</td>
            <td><img src="{{accounts.profie_picture}}" width="50px" height="50px"></td>
            <td>{{accounts.id}}</td>
            <td><button class="btn btn-danger" (click)="delete(accounts.id)"><i class="bi bi-trash"></i></button></td>
            
        </tr>
    </tbody>
</table>