<form action="" [formGroup]="accountForm">
        
    <h1>{{id? 'Edit account' : 'Create account'}}</h1> 

    <label for="">Account Name :</label>
    <input type="text" formControlName="account_name"> <br><br>

    <label for="">Available_balance  :</label>
    <input type="text" formControlName="available_balance"><br><br>

    <label for="">account_number:</label>
    <input type="text" formControlName="account_number"><br><br>

    <label for="">city :</label>
    <input type="text" formControlName="city"><br><br>

    <label for="">profie_picture :</label>
    <input type="text" formControlName="profie_picture"><br><br>

    <button class="btn btn-primary" (click)="submit()">🏃‍♀️‍➡️🏃‍♀️‍➡️🏃‍♀️‍➡️🏃‍♀️‍➡️🏃‍♀️‍➡️🏃‍♀️‍➡️Submit</button>
</form>