.parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    border: solid black;
    width: 400px;
    border-radius: 10px;
    background-color: aquamarine;
}
.text{
    margin-left: 80px;
}
.length{
    border-radius: 4px;
    background-color: khaki;
}
.width{
    border-radius: 4px;
    background-color: khaki;
}
.b1{
    background-color: rgb(135, 171, 171);
    border-radius: 3px;
}
.b2{
    background-color: rgb(200, 112, 200);
    border-radius: 3px;

}